* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}

.hero {
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 50px;
    padding: 5px 25px;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}

.logo {
    font-size: 35px;
    letter-spacing: 1px;
}

.logo a {
    text-decoration: none;
    color: #12131a;

}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: #12131a;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00bf9f;
    transition: .3s;
}

nav button {
    padding: 12px 28px;
    background-color: #12131a;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    
}

nav button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}


.bg {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #88AFC5;
}

.content {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.content .num {
    font-size: 17px;
    font-weight: bold;
    color: #12131a;
}

.content h1 {
    font-size: 100px;
    font-weight: bold;
    color: #12131a;
}

.content p {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -25px;
}

.content .knew_more {
    position: absolute;
    margin-left: 300px;
    margin-top: 50px;
}

.content .knew_more a {
    text-decoration: none;
    color: #fff;
    background-color: #12131a;
    font-size: 15px;
    padding: 0 13px;
}

.content .knew_more:hover {
    transform: scale(1.1);
    transition: .4s;
}


.social_icon {
    position: absolute;
    bottom: 10px;
    left: 48%;
}

.social_icon a {
    text-decoration: none;
    margin-right: 5px;
}

.social_icon a i {
    font-size: 20px;
    color: #12131a;
}

.social_icon a i:hover {
    transform: scale(1.2);
    transition: .4s;
}


.work {
    transform: rotate(-90deg);
    position: absolute;
    left: -5px;
    bottom: 40px;
}

.work a {
    text-decoration: none;
    color: #12131a;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

.work a:hover {
    color: #fff;
    transition: .4s;
}

.reaction {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.reaction a {
    text-decoration: none;
    color: #12131a;
    padding-right: 8px;
}

.reaction a:hover{
    color: #00bf9f;
    transition: .3s;
}